@import url("https://fonts.googleapis.com/css?family=Short Stack");

.footerPage
{
    margin:auto;
    height: 200px;
    width: 100%;
    background-color: black;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-family: "Short Stack";
}

.flc
{
    padding-top: 80px;
    padding-right: 30px;
}

.footerImage
{
    height: 200px;
    width: 25%;
    filter:grayscale(100%);
}